<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c{1} - %m%n</Property>
        <Property name="LOG_FILE">logs/log.txt</Property>
    </Properties>

    <Appenders>


        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>


        <Console name="HtmlConsole" target="SYSTEM_OUT">
            <HTMLLayout />
        </Console>


        <File name="LogFile" fileName="${LOG_FILE}">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </File>


        <RollingFile name="RollingFile" fileName="logs/app-log.log"
                     filePattern="logs/app-log-%d{MM-dd-yyyy-HH-mm}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="2" modulate="true" />
            </Policies>
        </RollingFile>


        <RollingFile name="CronRollingFile" fileName="logs/cron-log.log"
                     filePattern="logs/cron-log-%d{MM-dd-yyyy-HH-mm}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <CronTriggeringPolicy schedule="0 0 18 * * ?" />
            </Policies>
        </RollingFile>



    </Appenders>

    <Loggers>
        <Logger name="milog" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="CronRollingFile" />
        </Logger>


        <Root level="INFO">
            <AppenderRef ref="HtmlConsole" />
        </Root>
    </Loggers>
</Configuration>
